LED-Toggle_Python/led_toggle.json
[
    {
        "id": "a5b13bf4.618058",
        "type": "ParticleFunc out",
        "z": "ac95d7a5.197b28",
        "baseurl": "449af849.78d2f8",
        "devid": "Photon_01",
        "fname": "led",
        "param": "",
        "once": false,
        "repeat": 0,
        "consolelog": false,
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "40ce577d.0570b8",
        "type": "inject",
        "z": "ac95d7a5.197b28",
        "name": "on",
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "a5b13bf4.618058"
            ]
        ]
    },
    {
        "id": "fb6cdf98.215b9",
        "type": "inject",
        "z": "ac95d7a5.197b28",
        "name": "off",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "a5b13bf4.618058"
            ]
        ]
    },
    {
        "id": "77a322ab.d97d0c",
        "type": "debug",
        "z": "ac95d7a5.197b28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "dea3cdd7.fd74c",
        "type": "ParticleVar",
        "z": "ac95d7a5.197b28",
        "baseurl": "449af849.78d2f8",
        "devid": "Photon_01",
        "getvar": "led_status",
        "once": false,
        "repeat": 0,
        "consolelog": false,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "f11ed664.b73958"
            ]
        ]
    },
    {
        "id": "f37e2e02.3b6c1",
        "type": "inject",
        "z": "ac95d7a5.197b28",
        "name": "",
        "topic": "Toggle LED",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "dea3cdd7.fd74c"
            ]
        ]
    },
    {
        "id": "f11ed664.b73958",
        "type": "function",
        "z": "ac95d7a5.197b28",
        "name": "toggle_led",
        "func": "var led_status = (msg.payload);\n\nif (led_status == \"off\")\n{\n    var toggle_led = {payload: \"on\" };\n    return toggle_led;\n} else {\n    var toggle_led = {payload: \"off\" };\n    return toggle_led;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "77a322ab.d97d0c",
                "a5b13bf4.618058"
            ]
        ]
    },
    {
        "id": "449af849.78d2f8",
        "type": "particle-cloud",
        "z": "",
        "host": "https://api.particle.io",
        "port": "443",
        "accesstoken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "name": "Particle Account"
    }
]
